body {
  background-image: linear-gradient(to right, #e1ba6c, #d58edb);
  align-items: center;
}
.header1 {
  color: rgb(190, 54, 54);
}
h3 {
  color: rgb(194, 48, 48);
}
.container {
  display: flex;
  align-items: center;
  margin: 10px 30px 10px 10px;
  padding: 50px 70px 50px 50px;
}
header {
  margin-left: 60%;
}
.class {
  padding-left: 150px;
}
.box1 {
  background-color: #f0ca80;
  height: 100vh;
  width: 40vw;
  padding-left: 30px;
}
.box2 {
  background-color: rgb(245, 243, 243);
  height: 100vh;
  width: 60vw;
}
.button {
  align-items: center;
  background-color: #3f7be0;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.account {
  background-color: rgb(212, 23, 156);
  border-radius: 3px;
  text-align: center;
  border: none;
  display: inline-block;

  font-size: 13px;
}
.fa {
  padding: 1px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
#btn {
  background-color: rgb(15, 15, 247);
  border-radius: 10px;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form1 {
  display: flex;
  height: 100px;
}
.fullform {
  margin-left: 10%;
}
